Задача №1. Вам нужно создать оператор выбора, который выдаст первые 90 чисел Фибоначчи.
Имя столбца -number
Последовательность Фиббоначчи:
 0, 1, 1, 2, 3, 5, 8, 13, ..., 89, 144, 233, 377, ...

In [ ]:
with recursive fibonachi as (
select cast (0 as bigint) as a, cast (1 as bigint) as b
union all
select b as a, a+b from fibonachi where a < 1700000000000000000) select a as number from fibonachi

Задача №2. Вы будете использовать таблицу людей, но сосредоточитесь исключительно на name столбце
name
Васильев Петр Генадьевич
Греф Герман Оскарович

Вам будет предоставлено полное имя, и вы должны вернуть имя в столбцах следующим образом:

Имя - Фамилия - Отчество

In [ ]:
select split_part(name, ' ', 2)as Имя,
    split_part(name, ' ', 1) as Фамилия,
    split_part(name,' ', 3) as Отчество
from table


P.s. в MS SQL используется SUBSTRING Имя = SUBSTRING_INDEX(name, ' ', 2),
Фамилия = SUBSTRING_INDEX(name, ' ', 1),
Отчество = SUBSTRING_INDEX(name, ' ', 3)

Задача №3. Для этой задачи вам нужно создать простой оператор SELECT, который вернет все столбцы из people таблицы, и присоединиться к sales таблице, чтобы вы могли вернуть COUNT всех продаж и ранжировать каждого человека по их количеству продаж.

Таблица people
id
name


Таблица sales
id
people_id
sale
price

Вы должны вернуть все поля людей, а также количество продаж как «sale_count» и рейтинг как «sale_rank».

In [ ]:
select id, sale_count, rank () over ( order by sale_count) as sale_rank
from(
    select id, count(sale) as sale_count
    from ( select * from people as L
  join ( select id, people_id, sale from sales) as R
using (id)) as table_union
group by id) as table_ready